<% content_for :title, "About The Owner | Fotini's Restaurant and Bar - Bolton, MA" %>

<% content_for :bg do %>
  <div id="bg" class="normal"></div>
<% end %>

<%= render "logo" %>
<div id="about">
  <div id="about_container">
    <h2>About The Owner</h2>
    <div class="sub_title">The American Dream</div>
    <div class="text">
      &ldquo;Tom Kessaris came to America from Corfu, Greece in the 1970's without a penny to his name. The Greek immigrant worked in the galley of an oil tanker to make his way to New York City, where he had no job lined up and didn't know a soul. He spent his first couple of weeks in America homeless, looking for work by day and sleeping in cold railroad cars by night.&rdquo;<br>
      &ldquo;However, this was the United States, and Kessaris believed that if he worked hard, he would one day be a success.&rdquo;<br>
      &ldquo;Now, yearly, Tom provides meals on Thanksgiving to as many as 250 locals &mdash; anyone who is hungry or alone. He has been doing this for 25 years, and plans on doing it for years to come. &lsquo;I'm not doing this for political reasons or to attract new business. I just want to give back as a way of saying thanks&hellip;I said, if I can make it in this country, I will make sure I will give back to the community and never let anyone go hungry in my house or in my restaurant.&rsquo; (Kessaris)&rdquo;
    </div>
  </div>
  
  <div id="testimonial_container">
    <h2>testimonials</h2><br>
    <blockquote>
      <p> &ldquo;&hellip;it was very good pizza!  It is a thin crust style, not a pan pizza like most places around here.  I will definitely be ordering from here again&hellip;&rdquo;</p>
      <h4>Tim &mdash; <i>Clinton, MA</i> </h4>
    </blockquote>
    <blockquote>
      <p>&ldquo;&hellip;This place was awesome! I ordered chicken fotini and husband had greek salad with grilled chicken. Both were great! The chicken was tender, eggplant was well cooked, and pasta was very tasty.&rdquo; </p>
      <h4>Maria &mdash; <i>Cambridge, MA</i></h4>
    </blockquote>
  </div>
</div>

<% content_for :post_content do %>
  <div id="push"></div>
<% end %>
