<% content_for :title, "Bar | Fotini's Restaurant and Bar - Bolton, MA" %>

<% content_for :bg do %>
  <div id="bg" class="normal"></div>
<% end %>

<div id="item_container">
  <div class="bar_gallery">
    <%= image_tag("1200_drink_1.jpg", alt: "Dessert Drinks", class: "b1") %>
    <%= image_tag("1200_drink_2.jpg", alt: "Old Fashioned", class: "b2") %>
    <%= image_tag("1200_masboba.jpg", alt: "Masboba Red and White Wine", class: "b3") %>
    <%= image_tag("1200_red_wine.jpg", alt: "Red Wine Selection", class: "b4") %>
  </div>
  <div class="column3">
    <div id="item" class="bar">
        <div class="name">
          Pinot Grigio &mdash; <i>Mezzacorona, Italy</i>
        </div>
        <div class="price">Glass-$7</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Pinot Grigio &mdash; <i>Voga, Italy</i>
        </div>
        <div class="price">Glass-$8<br>Bottle-$30</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Pinot Grigio &mdash; <i>Santa Margherita, Italy</i>
        </div>
        <div class="price">Bottle-$44</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Sauvignon Blanc &mdash; <i> Mounsieur Touton, France</i>
        </div>
        <div class="price">Glass-$8<br>Bottle-$30</div>
    </div>     
    <div id="item" class="bar">
        <div class="name">
          Riesling &mdash; <i> Chateau Ste. Michelle, Washington</i>
        </div>
        <div class="price">Glass-$7<br>Bottle-$26</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Chardonnay &mdash; <i> Toasted Head, California</i>
        </div>
        <div class="price">Glass-$8<br>Bottle-$30</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Chardonnay &mdash; <i> Kendall Jackson, Vintner's Reserve, California</i>
        </div>
        <div class="price">Glass-$9<br>Bottle-$34</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Chardonnay &mdash; <i> Kendall Jackson, Grand Reserve, California</i>
        </div>
        <div class="price">Bottle-$38</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          White Zinfandel &mdash; <i> Beringer, California</i>
        </div>
        <div class="price">Glass-$6<br>Bottle-$22</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Prosecco &mdash; <i> Villa Jolanda, Italy</i>
        </div>
        <div class="price">Bottle-$8</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Tawny Port &mdash; <i> Christian Brothers</i>
        </div>
        <div class="price">Glass-$6</div>
    </div>
  </div>

  <div class="column3">
    <div id="item" class="bar">
        <div class="name">
          Pinot Noir &mdash; <i>Joesephine Dubois, France</i>
        </div>
        <div class="price">Glass-$8<br>Bottle-$30</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Pinot Noir &mdash; <i>Irony, California</i>
        </div>
        <div class="price">Glass-$9<br>Bottle-$34</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Pinot Noir &mdash; <i>La Crema, California</i>
        </div>
        <div class="price">Bottle-$40</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Chianti, Piccini &mdash; <i>Italy</i>
        </div>
        <div class="price">Glass-$7<br>Bottle-$26</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Malbec Tilia &mdash; <i>Argenta</i>
        </div>
        <div class="price">Glass-$7<br>Bottle-$26</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Merlot &mdash; <i>14 Hands, Washington</i>
        </div>
        <div class="price">Glass-$7<br>Bottle-$26</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Merlot &mdash; <i>Aquinas, Napa Valley</i> 
        </div>
        <div class="price">Bottle-$30</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Agiorgitiko, Domaine Skouras &mdash; <i>St. George, Greece</i> 
        </div>
        <div class="price">Bottle-$36</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Zinfandel &mdash; <i>Four Vine, California</i> 
        </div>
        <div class="price">Bottle-$27</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Cabernet Sauvignon &mdash; <i>Alto Tierruca, Chile</i> 
        </div>
        <div class="price">Glass-$7<br>Bottle-$26</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Cabernet Sauvignon &mdash; <i>Villa Mt. Eden, Napa Valley</i> 
        </div>
        <div class="price">Bottle-$36</div>
    </div>
    <div id="item" class="bar">
        <div class="name">
          Cabernet Sauvignon &mdash; <i>Jordan, Sonoma</i> 
        </div>
        <div class="price">Bottle-$78</div>
    </div>
  </div>

  <div class="column3">
    <div id="item" class="bar">
        <div class="name">
          BEER LIST GOES HERE! &mdash; <i>Really, It Does!</i>
        </div>
        <div class="price">Glass-$10<br>Bottle-$10</div>
    </div>
  </div>
</div>
