<% content_for :title, "Home | Fotini's Restaurant and Bar - Bolton, MA" %>

<% content_for :bg do %>
  <div id="bg" class="slide s1"></div>
  <div id="bg" class="slide s2"></div>
  <div id="bg" class="slide s3"></div>
  <div id="bg" class="slide s4"></div>
  <div id="bg" class="slide s5"></div>
<% end %>

<%= render "logo" %>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<ul id="description">
  <li>
    <h1>Fotini's Restaurant<br>and Bar</h1>
    <div class="txt2">Open Tuesday Through Sunday for Dinner!<html xmlns="http://www.w3.org/1999/xhtml">
    </div>
<html>
<head>
<title>Fotini's Restaurant</title>
<link rel="stylesheet" type="text/css"  href="css/styles.css" />
</head>
<meta charset="utf-8">
<body>
<div class="wrapper">
   


</div>
</body>
</html>
</div>

  <div class="cta_display_box">
  
    <h1 style="    
    padding:5px; 
    width: 250px;">
  </div>
  <div class="newsletter_wrapper">
     <div id="mc_embed_signup" style="background: none;">
<form action="//fotinisrestaurant.us12.list-manage.com/subscribe/post?u=19710af8b5db185ab877e3699&amp;id=60d69f0f9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_19710af8b5db185ab877e3699_60d69f0f9f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

 
   <!--
    Come celebrate Mother's day<br> with us!</style> </h1>
    <div class="txt2" style="font-size: 14px;">
    <p><em>Open Saturday and Sunday at noon with a Special Menu!
    -->
    <!--
    Father O'Mally's Shepherd pie
     <b>...........................12.99</em></b><br>
    -Comes with a cup of soup</p><br>-->
    <!--
    <p><em>Mrs Murphy's crusty leg of lamb 
    <b>......................17.99</em></b><br> 
    -Served with potatoes and vegetables</p><br>
    <p><em>Corn Beef dinner 
    <b>............................................12.99</em></b><br>
    -Served with green cabbage, red bliss potatoes and baby carrots.</p>
    -->

  </div> 
  </li>
</ul>

 <% content_for :post_content do %>
  <div id="push"></div>
<% end %>
